{% extends 'common.html' %}
{% block body_part %}
    <form action="{% url 'login_check' %}" method="post">
      {% csrf_token %}
        <table align="center" >
         <tr>
             <th>
                 <input type="text" class="form-control" placeholder="username" name="t1">
             </th>
         </tr>
          <tr>
             <th>
                 <input type="password" class="form-control" placeholder="password" name="t2">
             </th>
         </tr>
         <tr>
             <th style="text-align: center">
                 <button type="submit" class="btn btn-primary">Login</button>
             </th>
         </tr>
            {% for x in messages %}
                {{ x }}
            {% endfor %}
     </table>
    </form>


        <h3 style="text-align: center">New Applicant
                     <a href="{% url 'New_appicant_reg' %}">
                          Register
                     </a>
                     hear</h3>
{% endblock %}